.detail-container {
  background-color: #2a292cab;
  width: 80%;
  margin: auto;
  color: white;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 57px;
}
.edit-page-cont {
  height: 100vh;
}
