.nav-link {
  opacity: 0.8;
  color: white !important;
}
.nav-cont {
  background-color: #071c2e;
  margin-bottom: 10px;
}
.nav-link:hover {
  color: rgb(199, 197, 197) !important;
  font-weight: 800;
}
