.products-cont {
  width: 90%;
  margin: auto;
  height: 100vh;
}
.items-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px !important;
}
.id-col {
  text-align: center;
  font-weight: 800;
}
.head-id {
  text-align: center;
}
.head-title {
  margin-left: 20px !important;
}
.add {
  margin-top: 50px;
  margin-bottom: 30px;
}
.btn {
  background-color: rgb(155 37 83) !important;
  font-weight: 700 !important;
  border: none !important;
}
.products-btn-cont {
  display: flex;
  width: 40%;
  justify-content: inherit;
}
.Delete {
  opacity: 0.8;
}
@media screen and (max-width: 576px) {
  .products-btn-cont {
    display: flex;
    width: 70%;
    justify-content: inherit;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .products-btn-cont {
    display: flex;
    width: 70%;
    justify-content: inherit;
  }
}
