* {
  box-sizing: border-box;
}
.body {
  color: #520946 !important;
}
.fullBage {
  background-color: rgb(76 19 73);
}

.shop-img1 {
  height: 100vh !important;
  margin-bottom: 40px;
}
.card-barent {
  display: flex;
  flex-wrap: wrap;
  background-color: c3c3c3;
}
.card-contaner {
  margin-left: 40px;
  margin-bottom: 50px;
  height: 65vh !important;
  border: none !important;
}
.shop-card-img {
  width: 300px !important;
  height: 46vh !important;
}
.shop-card-Body {
  display: flex;
  justify-content: space-between;
  background-color: #ede2d6 !important;
}
.shop-card-text-Container {
  width: 100% !important;
}

.SC-Name {
  font-size: 16px;
  opacity: 0.5Q;
  font-weight: 900;
  color: rgb(92, 1, 43);
  margin-left: 10px;
  margin-bottom: 0 !important;
}
.SC-count {
  font-size: 13px;
  font-weight: 800;
  color: rgb(92, 1, 43);
  opacity: 0.5;
  margin-bottom: 0 !important;
  margin-left: 10px;
}
.SC-dollar {
  font-size: 16px !important;
  font-weight: 800 !important;
  margin-bottom: 5px !important;
  margin-left: 2px !important;
}
.ds-none {
  display: none !important;
}
.btns-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  width: 20% !important;
}

.shop-shopCart-link {
  padding: 0;
  border: none;
  margin-top: -20px;
}
.shop-shopCart-logo {
  font-size: 30px;
  color: rgb(56, 13, 13);
  border-radius: 2px;
  background-color: #ede2d6;

  border-radius: 5px;
  border-radius: 0;
}
.shop-shopCart-logo:hover {
  font-size: 36px;
  color: rgb(223, 70, 70);
}

.goto-home-body {
  display: flex;
  justify-content: center;
}
.goto-home {
  font-weight: 600 !important;
  border: 2px solid rgb(76 19 73) !important;
  padding: 7px !important;
  background-color: rgb(255 230 219) !important;
  margin-bottom: 50px !important;
  width: 200px;
}
.goto-home-link1 {
  color: rgb(76 19 73);
  font-weight: 500;
}
.goto-home:hover {
  color: white !important;
  background-color: rgb(76 19 73) !important;
}
.goto-home:hover .goto-home-link1 {
  color: white !important;
  background-color: rgb(76 19 73) !important;
}
.goto-home-link1:hover {
  color: white !important;
  background-color: rgb(76 19 73);
}
